<h3>Questions</h3>
<div *ngIf="questions.length > 0">
  <div class="table-responsive">
    <table class="table table-hover questions">
      <thead>
        <tr>
          <th>Text</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <td>
            {{question.Text}}
          </td>
          <td>
            <button class="btn btn-xs btn-warning"  (click)="onEdit(question)">
              <i class="fas fa-pencil-alt"></i>
             &nbsp; Edit
            </button>
            <button class="btn btn-xs btn-danger"  (click)="onDelete(question)" >
              <i class="fas fa-trash-alt"></i>
             &nbsp; Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="questions.length == 0">
  This quiz has no questions (yet):
  click on <strong>Add a new Question</strong> button to add the first one!
</div>
<button (click)="onCreate()" class="btn btn-sm btn-primary">
  <i class="fas fa-plus"></i>&nbsp;  Add a new Question
</button>
