<div class='main-nav'>
    <div class='navbar navbar-dark bg-dark navbar-inverse'>
      <div class='navbar-header'>
       
        <quiz-search class="search-navmenu" placeholder="Type here..."></quiz-search>
      </div>
        <div class='clearfix'></div>
        <div [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav '>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()' class="nav-item nav-link">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>

              <li [routerLinkActive]="['link-active']" >
                <a [routerLink]="['/about']" class="nav-item nav-link">
                  <span class="glyphicon glyphicon-info-sign"></span> About
                </a>
              </li>
               <li [routerLinkActive]="['link-active']">
                 <a [routerLink]="['/login']" class="nav-item nav-link">
                   <span class="glyphicon glyphicon-log-in"></span> Login
                 </a>
               </li>
              <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/quiz/create']" class="nav-item nav-link">
                  <span class="glyphicon glyphicon-pencil"></span> Create Quiz
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
