
<div class="quiz-edit">
  <h2>{{title}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      
      <label for="title">Quiz title</label>
      <br />
      <input formControlName="Title" required
             class="form-control"
             [ngClass]="{'is-invalid' : hasError('Title') }"
             placeholder="choose a title" />

      <div *ngIf="hasError('Title')" class="form-text text-danger">
        Title is a required field: please insert a valid title.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Quiz description:</label>
      <br />
      <input class="form-control"
             formControlName="Description"
             placeholder="enter a description..." />
    </div>
    <div class="form-group">
      <label for="text">Quiz informative text:</label>
      <br />
<textarea formControlName="Text"
          class="form-control"
          placeholder="enter a text..."></textarea>
    </div>

    <div class="form-group commands">

      <button *ngIf="editMode"
              type="submit"
              [disabled]="form.invalid"
              class="btn btn-success" >
        <i class="fas fa-save"></i>
        Apply Changes
      </button>

      <button *ngIf="!editMode"
              class="btn btn-primary"
              [disabled]="form.invalid"
              type="submit" >
        <i class="fas fa-pencil-alt"></i>
        Create a Quiz!
      </button>

      <button *ngIf="!editMode" type="submit" class="btn btn-warning"  (click)="onBack()" >
      <i class="fas fa-cancel"></i>  Cancel
      </button>
    </div>
  </form>
  <question-list [quiz]="quiz" *ngIf="editMode"></question-list>
  <result-list *ngIf="editMode" [quiz]="quiz"></result-list>
</div>
<div class="card bg-light" style="margin-top:30px;">
  <h4 class="card-header bg-dark bg-primary text-white">
    Form Debug Info
  </h4>
  <div class="card-body">
    <h5 class="card-title"><strong>Form Value:</strong></h5>
    <div class="card-text">
      {{form.value | json}}
    </div>
    <hr />
    <h5 class="card-title"><strong>Form Status:</strong></h5>
    <div class="card-text">
      {{form.status | json }}
    </div>
  </div>
</div>
